.card {
    box-sizing: border-box;
    width: calc( (100% - (var(--max-cards-in-line) - 1) * var(--gap-between-cards)) / var(--max-cards-in-line) );
    height: 367px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 25px;
}
.card__element {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.card__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}
.card__element-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--grey-4);
}