@import './normalize.css';
@import '../fonts/fonts.css';
@import '../../components/card/card.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/histogram/histogram.css';
@import '../../components/nav/nav.css';
@import '../../components/page/page.css';
@import '../../components/tabs/tabs.css';
@import '../../components/component/component.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-lighter: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-2: #4263EB;
    --light-blue: #A0B1F5;
    --dark-blue: #334D6E;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;

    --error-color: var(--red);
    --success-color: var(--blue);

    --primary-color: var(--blue);
    --secondary-color: var(--purple);

    --main-text-color: var(--black);

    --divider: 1px solid var(--grey-2);

    --width-container: 1110px;
}

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}
