.radio__preview {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.radio-btn {
    position: relative;
}
.radio-btn__input {
    position: absolute;
    clip: rect(0,0,0,0);
}
.radio-btn__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.radio-btn__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 14px;
    position: relative;
}
.radio-btn__icon {
    width: 18px;
    height: 18px;
    display: none;
    fill: var(--blue-2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio-btn__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.radio-btn__input:checked ~ .radio-btn__state .radio-btn__control {
    border: 2px solid var(--blue-2);
}
.radio-btn__input:checked ~ .radio-btn__state .radio-btn__icon {
    display: block;
}

.radio-btn__input:focus ~ .radio-btn__state .radio-btn__title {
    text-decoration: underline;
}

.radio-btn__input:disabled ~ .radio-btn__state .radio-btn__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.radio-main-title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}