.skeleton {
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skeleton__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 16px;
}
.skeleton__avatar-mini {
    width: 64px;
    height: 64px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    border-radius: 50%;
    flex: none;

    background-size: 200%;
    animation: infinite-trans 2s linear;
    animation-iteration-count: infinite;
}
.skeleton__rows {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 8px;
    justify-content: center;
}

.skeleton__fake-line {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);

    background-size: 200%;
    animation: infinite-trans 2s linear;
    animation-iteration-count: infinite;
}

@keyframes infinite-trans {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

.skeleton__fake-line_small {
    width: 20%
}
.skeleton__fake-line_medium {
    width: 50%
}
.skeleton__fake-line_big {
    width: 75%
}