.footer {
    background: var(--white);
    border-top: var(--divider);
    padding: 71px 0 136px 0;
}
.footer__title {
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    color: var(--main-text-color);
    margin: 0;
    text-align: center;

}
.footer__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--main-text-color);
    max-width: 640px;
    margin: 0 auto;
}

.footer_component-page {
    background: var(--grey-1);
    border-top: none;
    padding: 56px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    text-align: center;
}