.checkbox {
    position: relative;
}
.checkbox__input {
    position: absolute;
    clip: rect(0,0,0,0);
}
.checkbox__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.checkbox__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    position: relative;
}
.checkbox__icon {
    width: 15px;
    height: 13px;
    display: none;
    fill: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.checkbox__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue-2);
    border-color: var(--blue-2);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}