.burger-menu {
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(127, 127, 127, 0);
    transform: translateX(-100vw);
    transition: transform var(--animation-duration) linear;
}
.burger-menu[data-open] {
    transform: translateX(0);
    background: rgba(127, 127, 127, 0.5);
    transition: background var(--animation-duration) linear var(--animation-duration);
}
.burger-menu__inner {
    box-sizing: border-box;

    padding: 16px;
    overflow: scroll;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vmin;
    height: 100%;
    background-color: var(--grey-5);

    transform: translateX(-100vmin);
    transition: transform var(--animation-duration) linear;
}
.burger-menu[data-open] .burger-menu__inner {
    transform: translateX(0);
}

.burger-menu__header {
    position: relative;
    text-align: center;
    padding-bottom: 32px;
}
.burger-menu__close {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--grey-2);
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.burger-menu__close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu__main-logo {
    width: 110px;
    height: 32px;
}

.burger-menu__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.burger-menu__section {
    width: 100%;
    padding: 24px 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    border-top: var(--divider);
}
.burger-menu__section-switch-mode {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.burger-menu__dark-mode-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.burger-menu__title {
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}
.burger-menu__item {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    text-decoration: none;
}
